$primary-color: tomato;

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: pink;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    text-align: center;
}